{{#with project}}
<tr>
  <td class="name">
    <a title="{{db}}/{{name}}" href="{{url}}">
      {{#if dashicon}}
      <img class="icon" alt="Icon" src="{{dashicon}}" />
      {{else}}
      <img class="icon" alt="Icon" src="img/icons/default_22.png" />
      {{/if}}
    </a>
    <a title="{{db}}/{{name}}" href="{{url}}">
      {{db}}
    </a>
  </td>
  <td class="template">
    {{#if title}}{{title}}{{else}}{{name}}{{/if}}
  </td>
  <td class="version">
    {{dashboard.version}}
  </td>
  <td class="admins">
    {{security.admins.names}}
    {{security.admins.roles}}
  </td>
  <td class="members">
    {{security.members.names}}
    {{security.members.roles}}
  </td>
  <td class="actions">
    {{#if ../is_admin}}
      <a href="#" class="btn delete-btn"><i class="icon-trash"></i> Delete</a>
      <a href="#" class="btn permissions-btn"><i class="icon-key"></i> Permissions</a>
    {{/if}}
  </td>
</tr>
{{/with}}
